@import './base.css';
@import 'auth-styles.css';
@import "primeflex/themes/primeone-light.css";
@import "primeflex/themes/primeone-dark.css";
@import "primeicons/primeicons.css";


*::before, *::after {
  box-sizing: border-box;
}

li, a{
    list-style-type: none;
    text-decoration: none;
}

button:focus {
  outline: none;
}

button:hover{
    cursor: pointer;
}

body{
  height: 100%;
  min-height: 100vh;
  width: 100%;
    overflow-x: hidden;
    background-image: linear-gradient(
            to top right,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url("background-banner.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
